# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints
**/*.ipynb
!assignment.ipynb

# IPython
profile_default/
ipython_config.py

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

#Ruff
.ruff_cache/

# Environments
**/*.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#ENV VARS
**/.env

#Models local saving dir
outputs/*

#PoC docs
WANDS/

# macOS
.DS_Store